{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h4>Today's Movie</h4>
    <hr>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="{% url 'movies:detail' movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">개봉 연도: {{ movie.release_date }}</p>
                    <a href="{% url 'movies:detail' movie.id %}" class="btn btn-primary">영화 상세 정보</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
